# Image files #
###############
*.png
*.pdf

# Data formats #
################
*.pkl
*.root

# directories #
###############

plots
slides
document
local_data
figures
scripts/__pycache__

# specific files #
#################

notebooks/.ipynb_checkpoints/
